@import "tailwindcss";

@font-face {
  font-family: "Quentin";
  src: url("./assets/Quentin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-app: #2b48d9;
  --color-stage: #73061a;
  --font-quentin: "Quentin", cursive;
}

html,
body {
  min-height: 100%;
  background-color: #2b48d9;
}
